{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "dynamic-import-node",
    "transform-class-properties",
    "transform-object-rest-spread",
    "react-css-modules",
    "inline-react-svg",
    "react-hot-loader/babel"
  ]
}
